@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*@model IEnumerable<Product>

    <b>
        @foreach(var test in Model)
        {
        <p>
            @test.ProductName <br />
            @test.Description <br />
        </p>

        }
    </b>*@